.logo{
    position: absolute;
    left: 70px;
    top:80px   
}


h1{
    position:absolute;
    right: 100px;
    font-size: 3.3em; 
    font-family: 'Roboto', sans-serif;
    word-spacing: 15px;
    color:rgb(10, 48, 159)  ;
    background-color: white;
    font-style: bold;
}   


.seniorgrades{
    width: 200px;
    height:100px;
    background-color: aliceblue;
    color:rgb(10, 48, 159)  ;
    text-align: center;
    margin-left: 90px;
    font-size: 25px;    
    border-width: 3px;
    font-style: bold;
    cursor: pointer;    
}
.seniorgrades:hover{background-color: lightblue ;} 

#ninth{
    margin-left: 750px;
    position: absolute;
    top: 200;
}

#tenth{
    margin-left: 1020px;
    position: absolute;
    top: 200;
}

#eleventh{
    margin-left: 750px;
    position: absolute;
    top: 350;
}

#twelfth{
    margin-left: 1020px;
    position: absolute;
    top: 350;
}